* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

.accordion {
  width: 700px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.137);
  /* border-radius: 10px; */
  padding: 24px;

  display: grid;
  grid-template-columns: auto;
  align-items: center;
  /* border-top: 5px solid #087f6b; */
  /* flex-direction: column; */
  /* gap: 24px; */
  /* column-gap: 24px; */
  /* row-gap: 24px; */
}

label {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  align-items: center;
  cursor: pointer;
}

.number,
.text {
  font-size: 24px;
  font-weight: 500;
  /* color: #087f6b; */
}

.number {
  color: #ced4da;
}

.arrow-down {
  width: 24px;
  height: 24px;
  /* stroke: #087f6b; */
}

/* .hiiden-box {
  grid-column: 2;
  display: none;
} */

.hiiden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
  margin-top: 24px;
}

.hiiden-box ul {
  color: #868e96;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* .open {
  border-top: 4px solid #087f5b;
}

.open .hiiden-box {
  display: block;
} 

.open .number,
.open .text {
  color: #087f5b;
}
*/

/* Effect */

.accordion input[type="radio"] {
  display: none;
}

.item .hiiden-box {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.accordion input[type="radio"]:checked + .item .hiiden-box {
  max-height: 500px;
}

.accordion input[type="radio"]:checked + .item {
  border-top: 4px solid #087f5b;
}

.accordion input[type="radio"]:checked + .item .text,
.accordion input[type="radio"]:checked + .item .number {
  color: #087f5b;
}

.accordion input[type="radio"]:checked + .item .arrow-down {
  transform: rotate(90deg);
  stroke: #087f6b;
  transition: 0.5s;
}
